<% provide(:action, "new request") %>
<div class="panel panel-default">
	<div class="panel panel-heading">
		<h1>New Request</h1>
		<h3><small>On a mobile device? You can import from your camera!</small></h3>
	</div>

<%= render 'form' %>

	<div class="panel panel-body">
		<div class="actions">
	    <%= link_to pins_path do %>
	      <span class="glyphicon glyphicon-chevron-left"></span>
	      Back
	    <% end %>
    </div>	
	</div>
</div>