<% provide(:action, "Edit Request") %>
<div class="panel panel-default">
	<div class="panel panel-heading">
		<h1>Editing Request</h1>
	</div>

<%= render 'form' %>

<div class="panel panel-body">
	<div class="actions">
		<%= link_to requests_path do %>
			<span class="glyphicon glyphicon-chevron-left"></span>
			Back
		<% end %>

||

		<%= link_to @request do %>
			<span class="glyphicon glyphicon-eye-open"></span>
			See Request
		<% end %>
</div>
