<div class="jumbotron center">
	<h1>welcome to ducky!</h1>
	<p> ducky lets you ask other people to do stuff for you. </p>
	<p>
		<%= link_to "join ducky", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		<%= link_to "how-to", about_path, class: "btn btn-default btn-lg" %>
	</p>
</div>

<h4 class="center"><h3><span class="label label-default center">current unfulfilled requests:</span></h3> </h4>