<div class="jumbotron center">
	<h1>Welcome to Ducky!</h1>
	<p> Ducky lets you ask other people to do stuff for you. </p>
	<p>
		<%= link_to "Join Ducky", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		<%= link_to "How To Use Ducky", about_path, class: "btn btn-default btn-lg" %>
	</p>
</div>

<h4 class="center"><h3><span class="label label-default center">Current unfulfilled requests:</span></h3> </h4>