<div class="jumbotron center">
	<h1>Welcome!</h1>
	<div class="container">
	<table style="display: block">
	<tr>
		<td style="padding: 3%">
		<p> Ducky is University of Toronto's first and only public requests board, where you can ask your fellow peers to do small favours for you.</p>
		</td>
	</tr>
	</table>
	
	<p>
	For example:
	</p>
	<p>
	
	<%= image_tag("example.png") %>
	</p>
	
	<p>
	Ready to post your own?
	</p>
	<p>
			<a href="/requests/new" class="btn btn-primary" role="button">
		        			Post A Request
		        	</a>
	</p>
		<%= link_to "More Info", about_path, class: "btn btn-default" %>
	</p>
	</div>

	<p> 
	<p>

	</p>
</div>