<div class="jumbotron center">
	<h1>How To Use Ducky</h1>
	<p><b><u>If you need something:</u></b></p>
	<p>1. Post a request for something you need (Beer, coffee, snacks, etc.)</p>
	<p>2. Add your location and a way to reach you to your request. </p>
	<p>3. Wait for a reply, and remember to thank your Ducky!</p>
	<p> </p>
	<p><b><u>If you're looking to be a Ducky:</u></b></p>
	<p>1. Find a request you can fulfill.</p> 
	<p>2. Get in touch, and go help them out!</p>
	<p>3. Feel extra good for being an awesome Ducky.</p>
</div>