// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#requests {
	margin: 0 auto;
}

.box {
	margin: 4px;
	width: 220px;
}

.box img {
	width: 100%;
}

table {
	width: 100%;
}

th {
	width: 30px;
	padding: 5px;
}

td {
	padding: 2px;
	height: 10px;
}

.panel-item {
	padding: 5px;
}