<p>Welcome <%= @user.name %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>If you haven't yet, check out the <a href="http://getducky.ca/about">How-To</a> page if you need help starting off with Ducky:
